<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog yaratish</title>
    <style>
    .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        border: 2px solid #007bff;
        border-radius: 10px;
        transition: background-color 0.3s, color 0.3s;
    }
    .button:hover {
        background-color: #0056b3;
        color: #fff;
    }
    </style>
</head>
<body>

    <h1>Blog yaratish</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button" type="submit">Yaratish</button>
    </form>

</body>
</html>