<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Postlar</title>
    <style>
      .big-button {
        display: inline-block;
        padding: 20px 40px;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        border: 2px solid #007bff;
        border-radius: 10px;
        transition: background-color 0.3s, color 0.3s;
      }
      .big-button:hover {
        background-color: #0056b3;
        color: #fff;
      }
    </style>
</head>
<body>
    <h1>Blog Postlar</h1>
    <ul>

    </ul>

    <a href="{% url 'blog_create' %}" class="big-button">Create Blog</a>

</body>
</html>